<!-- Rendered then someone hits /post -->
{{ partial "head.html" . }}
<body>

{{ partial "sidebar.html" . }}

  <div class="content container">
    <h1>These are all of my posts</h1>
    <ul class="posts">
        {{ range .Data.Pages }}
        <li>
          <span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span>
        </li>
        {{ end }}
    </ul>
  </div>
</body>
</html>
