
<!-- Why is this a partial? -->
{{ partial "head.html" . }}

<body>

{{ partial "sidebar.html" . }}

<div class="content container">
<div class="posts">

        <!-- Filter the About page from the list -->
      {{ range where .Data.Pages "Section" "post" }}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h1>

    <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    {{ .Summary }}

    {{ if .Truncated }}
      <a href="{{ .RelPermalink }}"><em>more...</em></a>
    {{ end }}

  </div>
  {{ end }}
</div>
</div>

  </body>
</html>
